<link rel='stylesheet' href='/stylesheets/ipad.css' />

<div id="messageBox"></div>
<a href="#" id="button">Click</a>

<script type="text/javascript" src="/javascripts/RequestAnimationFrame.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/ipad.js"></script>
