<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0;">
    
    <!-- Xwing demo -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/xwing/style_no_stats.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/xwing/resultbox.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/xwing/instructionbox.css">
    <style type="text/css">
    	body {
    		background:#000000;
    	}
    </style>
    <!-- /Xwing demo -->
    
  </head>
  <body>
    <%- body %>
  </body>
</html>